.chatWindow {
    background-color: var(--bg-primary);
    min-height: 100vh;
    width: calc(100% - 320px);
    margin-left: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 120px;
    box-sizing: border-box;
}

/* navbar */

.navbar {
    width: calc(100% - 320px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bg-primary);
    z-index: 100;
}

.navbar span {
    margin: 1rem 2rem;
}

.userIconDiv {
    margin: 1rem 2rem;
}

.userIcon {
    background-color: var(--accent-color);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* chat input */
.chatInput {
    width: calc(100% - 320px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--bg-primary);
    padding: 1rem 0;
    z-index: 100;
}

.loaderContainer {
    margin-bottom: 1rem;
}

.inputBox {
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
    border: none;
    background-color: var(--input-bg);
    padding: 20px;
    font-size: 0.8rem;
    border-radius: 14px;
    box-shadow: var(--shadow-color) 0 54px 55px,
        var(--shadow-color) 0 -12px 30px,
        var(--shadow-color) 0 4px 6px,
        var(--shadow-color) 0 12px 3px,
        var(--shadow-color) 0 -3px 5px;
}

input:focus {
    outline: none;
}

#submit {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit i:hover {
    color: var(--accent-color);
}

.info {
    font-size: 0.8rem;
    padding: 0.5rem;
    color: var(--text-secondary);
}

/* dropdown css */

.dropDown {
    position: fixed;
    top: 4rem;
    right: 4rem;
    width: 150px;

    background-color: var(--bg-tertiary);
    padding: 0.3rem 0.5rem;
    border-radius: 6px;
    text-align: left;
    z-index: 1000;
    box-shadow: 0px 2px 8px var(--shadow-color);
}

.dropDownItem {
    font-size: 0.9rem;
    margin: 0.3rem 0rem;
    padding: 0.5rem 0.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.dropDownItem:hover {
    background-color: var(--hover-bg);
    border-radius: 6px;
}

.themeToggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.themeToggle i {
    font-size: 1rem;
}